extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/sprite/sprite
include /blocks/gift-popup/gift-popup

block head
	- var pageTitle = 'rating';

block content
	+sprite
	+gift-popup(getData('hrust'))

