extends /blocks/layout-default/layout-default

include /blocks/header/header
include /blocks/sprite/sprite
include /blocks/vote-popup/vote-popup

block head
	- var pageTitle = 'rating';

block content
	+sprite
	+vote-popup(getData('hrust'))

